* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background-image: url('.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    width: 100%;  
    max-width: 960px;  
    margin: auto;  
    padding: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
    margin-bottom: 2em;
    max-width: 600px;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Ensure no default margin is affecting your layout */
    display: flex;
    justify-content: center; /* Center align the navigation items */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

nav ul li {
    display: inline;
    margin: 10px 5px; /* Adjust margins for better spacing */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 5px 10px;
    background: #ffffff; /* Ensure contrast against potentially non-white backgrounds */
    border: 2px solid #333333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background: #333333;
    color: #ffffff;
    border-color: #333333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

nav ul li a:active {
    transform: translateY(1px);
    box-shadow: none;
}

.button {
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none; 
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer; 
}

.button:hover {
    background-color: #555;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
    gap: 30px;
    padding: 20px;
}

.project-item {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%; /* Ensures the width adjusts to the container */
    height: auto; /* Maintains aspect ratio */
    max-height: 300px; /* Limits the maximum height to prevent stretching */
    object-fit: contain; /* Ensures the entire image is visible within the container */
    border-radius: 5px; /* Rounds corners slightly for aesthetic */
    background-color: #f0f0f0; /* Optional: Add a background color to fill empty spaces */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    nav ul li a {
        font-size: 1em;
    }

    .container{
        align-items: center;
        text-align: center;
    }
}


nav ul li a {
    background: #ffffff;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #333333;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
    margin: 10px;
}

nav ul li a:hover,
nav ul li a:focus {
    background: #333333;
    color: #ffffff;
    border-color: #333333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

nav ul li a:active {
    transform: translateY(1px);
    box-shadow: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: float 6s ease-in-out infinite;
}

form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

textarea {
    height: 150px;
}

.header h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.profile-photo img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.about-text {
    flex-grow: 1;
    max-width: 60%; 
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .container{
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: column; /* Stack the links vertically on smaller screens */
        align-items: center; /* Ensure alignment is centered */
    }

    nav ul li a {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .profile-photo img {
        max-width: 50%;
        margin-right: 0; 
    }

    .about-text {
        max-width: 100%; 
        text-align: center;
    }
}
@media (max-width: 480px) {
    .profile-photo img {
        max-width: 100%; 
        margin-right: 0;
    }

    header h1 {
        font-size: 1.8em; /* Slightly reduce font size for very small screens */
    }

    .container {
        padding: 10px; /* Reduce padding in the container for more space */
    }

    nav ul li a {
        padding: 8px 10px; /* Slightly larger padding for easier tapping */
    }
}


.linkedin {
    background-color: #0077b5; 
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 200px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.linkedin h2 {
    margin: 0 0 10px 0; 
    font-size: 1.4em; 
}

.linkedin a {
    color: white;
    text-decoration: none; 
    font-weight: bold; 
    padding: 5px 10px; 
    font-size: 1em; 
    background-color: #005691; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.linkedin a:hover, .linkedin a:focus {
    background-color: #003d73; 
    transform: scale(1.05); 
}

.resume a:hover, .resume a:focus {
    background-color: #003d73; 
    transform: scale(1.05); 
}

.resume {
    background-color: black; 
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 200px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.resume h2 {
    margin: 0 0 10px 0; 
    font-size: 1.4em; 
}

.resume a {
    color: white;
    text-decoration: none; 
    font-weight: bold; 
    padding: 5px 10px; 
    font-size: 1em; 
    background-color: black; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.image-container {
    position: relative;
    width: 100%;
}

.slide-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}


